<table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < rows.length; i++) { %>
        <tr>
          <td><%= rows[i].id %></td>
          <td><%= rows[i].first_name %></td>
          <td><%= rows[i].last_name %></td>
        </tr>
      <% } %>
    </tbody>
  </table>